@import "flowbite/src/themes/default";
@import 'bootstrap-icons/font/bootstrap-icons.css';
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@tailwind base;
@tailwind components;
@tailwind utilities;


.red {
    color: red;
    background: pink;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 15px;
}

.green {
    color: green;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background: lightgreen;

}

.blue {
    color: blue;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background: lightskyblue;
}



